<!DOCTYPE html>
<html lang="en" ng-app="todo">
<head>
    <meta charset="UTF-8">
    <title>AngularJS ToDo List</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
    <script src="http://angular-ui.github.io/ui-router/build/angular-ui-router.js"></script>
    <script src="https://cdn.firebase.com/js/client/2.2.2/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/angularfire/1.0.0/angularfire.min.js"></script>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/styles.css">
</head>
<body ng-controller="todoController">
    <header>
        <h1>TODO List</h1>
        <form id="addItemForm" ng-submit="addItem()">
            <input placeholder="What needs to be done?" ng-model="newItemTitle" ng-model-instant>
            <input type="submit" value="Add">
        </form>

        <ul id="todoList">
            <li ng-repeat="item in items" class="completed-{{ item.done }}">
                <input type="checkbox" ng-model="item.done"/>
                <span>{{ item.title }}</span>
                <button ng-click="removeItem(item)">Remove</button>
            </li>
        </ul>

    </header>

    <script src="js/app.js"></script>
    <script src="js/controllers/todoController.js"></script>
</body>
</html>